<!-- <app-formulario></app-formulario> -->

<section class="container">
  <h1>Formulario de Angular </h1><br><br>
  <form (ngSubmit)="agregarPersona()">
    <section>
      <label>Nombre:</label><br>
      <input name="nombre" type="string" [(ngModel)]="form.nombre" required>
    </section><br>
    <section>
      <label>Apellido:</label><br>
      <input name="apellido" type="string" [(ngModel)]="form.apellido" required>
    </section><br>
    <section>
      <label>Edad:</label><br>
      <input name="edad" type="number" min="1" max="120" step="1" [(ngModel)]="form.edad" required>
    </section><br>
    <section>
      <label>Cédula:</label><br>
      <input name="cedula" type="number" [(ngModel)]="form.cedula" required>
    </section><br>
    <button type="submit">Guardar</button>
  </form>
</section>

<section class="container">
  <table>
    <tr *ngFor="let item of personas">
      <td>{{item.nombre}} {{item.apellido}} tiene: {{item.edad}} años y su cédula es: {{item.cedula}}</td>
      <td *ngIf="item.edad>=18">Es mayor de edad</td>
      <td *ngIf="item.edad<18">Es menor de edad</td>
    </tr>
  </table>
</section>

<router-outlet></router-outlet>