<!-- <form>
    <section>
        <label>Nombre</label>
        <input name="nombre" type="string" required>
    </section><br>
    <section>
        <label>Apellido</label>
        <input name="apellido" type="string" [(ngModel)]="form.apellido" required>
    </section><br>
    <section>
        <label>Edad</label>
        <input name="edad" type="number" min="1" max="120" step="1" required>
    </section><br>
    <section>
        <label>Cédula</label>
        <input name="cedula" type="number" required>
    </section><br>

    <button>Guardar</button>
</form> -->